@font-face {
  font-family: 'MicroSoft YaHei';
  font-style: normal;
  font-weight: 300; 
}
@font-face {
  font-family: 'MicroSoft YaHei';
  font-style: normal;
  font-weight: 400; 
}
@font-face {
  font-family: 'MicroSoft YaHei';
  font-style: normal;
  font-weight: 600; 
}
@font-face {
  font-family: 'MicroSoft YaHei';
  font-style: normal;
  font-weight: 700; 
}

@font-face {
  font-family: 'MicroSoft YaHei';
  font-style: normal;
  font-weight: 800; 
}
