<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.tiny.bean" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/tiny/bean/UserMapper.xml" />
		<mapper resource="com/tiny/bean/ColleagueMapper.xml" />
	</mappers>
	
</configuration> 